body {
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: grey;
}

.container {
  display: flex;
  align-items: flex-start;
}

.seccion {
  text-align: center;
  margin: 10px;
  width: 600px;
  padding: 10px 10px 30px;
  border-radius: 5px;
  border: 2px white solid;
}

input {
  border: 2px solid black;
  width: 50%;
  padding: 5px 0;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid black;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

li {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 550px;
  text-align: center;
}

.parts {
  background-color: lightblue;
}

.crates {
  background-color: lightseagreen;
}
